<div class='page-content'>
  <h2>Frequently Asked Questions</h2>
  <div class='lighten-bg'>
    <label>How much does it cost to get into Powered Paragliding?</label>
    <p>New motors typically cost between $5800 and $9900. Beginner wings cost between $3000 and $4500. Why so expensive? The current breed of motors are special-purpose for Powered Paragliding. These motors are high-performance two-strokes, designed from inception to sit on a human being’s back and put out enough thrust to lift them off the ground with the help of a wing. Additionally, they’re all designed and manufactured in Europe, where labor and taxes are at a premium.</p>
    <p>All up price is usually $10500-$15000, depending on your weight, whether you want to fly in a trike or foot launch, and the features installed on your motor. This estimated cost considers:</p>
    <ul>
      <li>Training ($2000-$2500)</li>
      <li>Radio Helmet ($350)</li>
      <li>hook knife ($30)</li>
      <li>reserve parachute ($700)</li>
      <li>water rescue device ($285)</li>
      <li>windsock and pole ($100)</li>
      <li>wing ($3000-$4500)</li>
      <li>motor ($5800-$9900)</li>
      <li>educational materials ($75)</li>
    </ul>
  </div>
  <div class='lighten-bg'>
    <label>Why don’t you train in the winter?</label>
    <p>We fly through the winter on select days, but training is difficult for a number of reasons:</p>
    <ul>
      <li>With ice or wet snow, launches can be slippery. There is an increased risk of falling during launch.</li>
      <li>It’s cold, and our fingers don’t work for long. With thick gloves, it’s difficult to feel what your wing is doing on launch.</li>
      <li>With the jet stream dipping south during the winter, the wind is too strong most days.</li>
      <li>Especially approaching Spring, the training field is soggy and vulnerable to damage.</li>
    </ul>
  </div>
  <div class='lighten-bg'>
    <label>How much does a paramotor weigh?</label>
    <p>42-95 lbs, not including trikes and gasoline. Lately, 48 lbs has been norm. Motors used to be much heavier, so don’t be surprised if a used motor is difficult to lift. It also used to be that heavier pilots necessitated heavier motors, but that is no longer the case– We’ve entered a golden age of light, powerful motors!</p>
  </div>
  <div class='lighten-bg'>
    <label>Is it hard to fly?</label>
    <p>Flying is the easy part. Once you are in air you’re at the center of gravity, and the wing behaves. In contrast, launching requires kiting skill. The hardest part of flying is making the judgement calls necessary to keep yourself within a healthy margin of safety, such as when to decide not to fly.</p>
  </div>
  <div class='lighten-bg'>
    <label>Where can I fly?</label>
    <p>With the exception of the around major airports and over populated areas, almost anywhere. The law that governs powered paragliding is the FAA’s FAR 103, which outlines where we cannot fly rather than were we can. This gives us enormous flexibility. Occasionally, there are times when nobody can fly, like during the visit of a foreign dignitary, or while the president is touring lighthouses. Fortunately, these times and locations are published online.</p>
  </div>
  <div class='lighten-bg'>
    <label>Is it safe?</label>
    <p>It’s as safe as you make it– really! If you fasten your legs straps, carabiners and helmet then fly straight and level over landable terrain in good weather, you face minimal risk. If you “yank and bank” next the ground behind obstacles on a windy day, or fly far out over the ocean without flotation, you face increased risk. The School of Personal Flight will help you understand the less obvious risks, such as oscillation on lauch, propeller dangers and object fixation.</p>
  </div>
  <div class='lighten-bg'>
    <label>How long does it take to learn how to fly a Powered Paraglider?</label>
    <p>If you have a week to dedicate exclusively to flying, and the weather cooperates for the entire time, you can learn to fly in that time. Realistically, 10 days of training is more the norm. Flying is more than just the physical skill– you also need to understand aeronautical charts and the few laws we fly under (FAA FAR 103).</p>
  </div>
  <div class='lighten-bg'>
    <label>Is PPG physically demanding?</label>
    <p>Training can be tiring, but once you get the hang of launching, the rest is easy. The most tiring part becomes the walk to your car if you land far from it. You have to be able to run a short distance, up to 100 feet, at 10-12 miles per hour with the motor on your back. Usually no more is required for launch. Once you get the hang of it, it’s easier than it sounds– the motor provides the forward force and you just have to keep your legs moving under it. Training, and your first few flights are going to be the most physically taxing; you will likely need hours of kiting practice before you can reliably control the wing. Some of that practice will be in zero wind, so you will need to run the full airspeed required for takeoff.</p>
  </div>
  <div class='lighten-bg'>
    <label>What is it like to learn PPG in Maine? How is it different than other locations?</label>
    <p>We have a lot of trees, so the school emphasizes defensive flying and spot landing. Should your motor stop, you’ll have the skills and experience to land in the nearest available clearing. We also frequently launch in light and nil winds, and training at most other locations doesn’t help much. However, despite light winds on the ground we often have faster winds aloft, so a faster wing is recommend for year-round flying. New pilots can choose to train on a reflex wing– a style better suited for cross-country flying in Maine.</p>
  </div>
</div>
