<div class='page-content'>
<h2>About the School</h2>
<p class='school-desc lighten-bg'>The School of Personal Flight (SPF) was founded in April, 2015 to teach Powered Paragliding in Northern New England. The mission of the School of Personal Flight is to teach student pilots the knowledge, judgement, and sense of adventure required to aviate safely and responsibly while realizing their dream of personal flight.</p>
<h3>About the Instructor:</h3>

<div class='instructor-desc lighten-bg'>
<img src='http://schoolofpersonalflight.com/DRM_headshot.jpg' alt='David McNulty'>
<h4>David McNulty</h4>
<p >Dave has been paragliding since 2008, and flying powered paragliders since 2010. Dave started instructing, first as an apprentice, then on his own, in 2013. In 2015 he left his job at Boeing to teach Powered Paragliding full-time, and became a USPPA-certified instructor.</p>

<p>The sport of Powered Paragliding has taken Dave to unusual places, from searching for a neighbor’s lost cat to a pirate invasion of Lubec, Maine.</p>

<p>His off-season sport is cross-country free flight competition, a passion which has taken him across several countries and cost him more money than he’s made from it.</p>

<div class='stats'>
  <label>Certifications:</label>
  <ul>
    <li>USPPA PPG3, Instructor, Tandem Trainee</li>
    <li>USHPA P4, Tow Technician</li>
  </ul>
  <label>In the News:</label>
  <ul>
  <li><a href='http://hsbnoticias.com/noticias/deportes/otros-deportes/una-competencia-de-altura-open-fai-272139'>HSBNoticias: Una competencia de altura ‘Open Fai’</a>, Valle Del Cauca, Colombia (in the photo, but the name is wrong)</li>
  </ul>
  <label>Competitions:</label>
  <ul>
  <li>Spring Fling, April 2015</li>
  <li>East Coast Paragliding Championships, May 2015 (<span class='results'>2nd place, EN-B category</span>)
  </li>
  <li>Valle Intrepídos, December 2015
  </li>
  <li>Monarca, December 2015
  </li>
  <li>Roldanillo 1st International Open, January 2016
  </li>
  <li>Spring Fling, April 2016 (<span class='results'>Overall Champion!</span>)
  </li>
  <li>East Coast Paragliding Championships, May 2016 (<span class='results'>2nd place, Sport Category</span>)
  </li>
  <li>Lonestar XC Championship, August 2016 (<span class='results'>Overall Champion!</span>)
  </li>
  <li>Monarca, December 2017 (<span class='results'>Injured; Volunteering</span>)
  </li>
  <li>Roldanillo 2nd International Open, January 2017
  </li>
  <li>Spring Fling, April 2017 (<span class='results'>3rd place, Serial Category</span>)
  </li>
  <li>East Coast Paragliding Championships, May 2017
  </li>
  <li>US Nationals/Rat Race, June 2017</li>
  </ul>
  <label>Records:</label>
  <ul>
    <li>Maine XC Paragliding distance- 78.5km (49.1 miles), 2 hours 50 minutes <a href='http://www.paraglidingforum.com/leonardo/flight/1468300'>View the Flight Track</a></li>
  </ul>
  </div>
  </div>
</div>
