<div class='page-content'>
  <h2>Contact</h2>
  <div class="lighten-bg">
    <p>email: <a href="mailto:dave@schoolofpersonalflight.com">dave@schoolofpersonalflight.com</a></p>
    <p>phone: 1(207)576-7595</p>
    <p>I encourage you to email me at if you’d like to learn more about Powered Paragliding in Northern New England. I’m based out of Arundel, Maine (<b>approximately an hour and a half north of Boston</b>). Classroom activites, ground handling and some flying are conducted out of <a href="http://www.biddefordmaine.org/airport">Biddeford Municipal Airport</a>. </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
