<div class='page-content'>
<h1 class="uk-article-title" itemprop="headline">Weather</h1>
<div class='lighten-bg'>
  <p>Here are some weather links that I use to determine if this part of Southern Maine is flyable. Also important is the TFR map, which tells me when there are flight restrictions (like when the Secret Service is enforcing a No-Fly around the Bush Compound). I recommend opening all of these weather links in browser tabs and analyzing each one, one-by-one, so that you don’t miss anything.</p>
  <p>In general, don’t trust any weather forecast more than 2 days out. Usually they get tomorrow right, but the next day won’t be quite as forecast.</p>
  </div>

  <label>Weather Sites:</label>
<div class='lighten-bg'>
  <p><a href="https://www.wunderground.com/US/ME/Arundel.html">WUnderground for Arundel</a></p>
  <ul>
  <li>This is a typical weather forecast website. Its wind prediction isn’t geared toward aviation folks, but it does tell you the air pressure (descending/low pressure brings storms).</li>
  </ul>
  <p><a href="http://www.usairnet.com/cgi-bin/launch/code.cgi?Submit=Go&amp;sta=KSFM&amp;state=ME">US AirNet aviation forcast for Sanford</a></p>
  <ul>
  <li>This is an aviation forecast. It’s the most useful of these links. It shows the forecast base wind on the ground. Wind will almost always be faster higher. We fly a few hours after the sun rises and a couple hours before sunset because the winds die down and the gusts decrease (due to dwindling thermal activity).</li>
  <li><strong>DO FLY IF</strong>:
  <ul>
  <li>The wind for the day starts between 0-5 mph and ends at 0-5mph. A good day is a bell-shaped curve of wind speed, peaking at noon or 2pm</li>
  <li>The chance of rain is low (check the clouds when you get to the field)</li>
  <li>The chance of thunderstorms is VERY low or none</li>
  <li>Clouds are above 500 feet (don’t fly in fog)</li>
  </ul>
  </li>
  <li><strong>DON’T FLY IF</strong>:
  <ul>
  <li>It’s windy all day, especially if ground winds are 12mph or above</li>
  <li>There’s a greater than 15% chance of Thunderstorms</li>
  <li>There’s a high chance of rain (especially if there’s a “precipitation amount” forecast).</li>
  </ul>
  </li>
  </ul>
  <p><a href="http://www.usairnet.com/cgi-bin/Winds/Aloft.cgi?location=PWM&amp;Submit=Get+Forecast&amp;hour=06&amp;course=azimuth">US AirNet winds aloft in Portland</a></p>
  <ul>
  <li>Winds aloft is important to check for flight planning and for safety. If you’re flying anywhere besides around the Turf Farm, you want to fly into the wind first. If the wind picks up while you’re flying, you know you can still make it back to your car.Also, if the wind is blowing 30mph at 3000 feet (the lowest altitude measured by this site), you’ll find turbulence everywhere above the tree tops, and difficulty penetrating into the wind. I’ve had to land my motor backwards one day before I could get blown to the ocean.</li>
  </ul>
  <p><a href="http://www.windalert.com/spot/877">Wind Alert for Sanford</a></p>
  <ul>
  <li>This is a good site to watch for CURRENT and PAST conditions. You can see how well the actual weather lined up with the forecasts. It also records gusts (the red dots in the line chart). You want to see the gusts die down before the evening can be flown safely.</li>
  </ul>
</div>
  <label>TFRs:</label>
  <div class='lighten-bg'>
  <p><a href="http://tfr.faa.gov/tfr_map_ims/html/ns/scale4/tile_8_3.html">FAA Temporary Flight Restrictions in Southern Maine</a></p>
  <ul>
  <li>There’s always a small circle of no-fly around the Bush Compound, but it’s just over Walker’s Point. When foreign dignitaries are visiting, it expands to 10-30 miles and shuts us out of flying locally.</li>
  </ul>
  </div>

  <label>Tides:</label>
    <div class='lighten-bg'>
  <p><a href="http://www.tides.info/?command=view&amp;locid=12381">Tide Chart for Kennebunk</a></p>
  <ul>
  <li>Between Labor Day and Memorial Day (the winter), we sometimes fly the beaches if they are empty. More runway is much better than less, so knowing when the tide is low is important. You need some form of South wind to safely fly the beaches here, as most beaches face south. Watch out for children, people who want to help with your propeller, and dogs who want to eat your propeller. We must be on our best behaviour on beaches, as we don’t have many, and they are very much in the public’s eye.</li>
  </ul>
  </div>

  <label>XC planning:</label>
    <div class='lighten-bg'>
  <p><a href="https://www.windyty.com/?43.505,-70.694,9">windyty for Southern Maine</a></p>
  <ul>
  <li>WindyTy is great for planning an XC flight. The changing flow of the air as the day progresses is very easy to visualize on WindyTy. If you want to make it back to your launch site without sweating it, start your long flight INTO the wind.</li>
  </ul>
</div></div>
