<header>
<img  class='logo' src='assets/SPFLogoColor.png'>
<div class='title-container'>
<h1 class='title'>School of Personal Flight</h1>
<h3 class='title'>Powered Paragliding Training</h3>
</div>
<nav>
  <button class='training-btn'  >Training</button>
  <div id='dropdown-content' class="dropdown-content">
    <a routerLink="/classes">Classes</a>
    <a routerLink="/faq">FAQ's</a>
    <a routerLink='/weather'>Local Weather</a>
  </div>
  <button routerLink="/">Dave's Blog</button>
  <button routerLink="/">Contact</button>
  <button routerLink="/about">About</button>
  <button routerLink="/">Strobe Lights</button>
</nav>
</header>
<router-outlet></router-outlet>
