.logo{
  width:15%;
}
h1{
  margin: 6px 10px 0 0px;
}
h3 {
  margin: 5px 20px;
}
.title-container{
  display: inline-block;
  position: absolute;
  top: 0;
}
.title{
  font-family: "Georgia";
    font-variant: small-caps;
    color: #e28327;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
nav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dropdown-content{
  text-align: left;
  display:none;
  border: white 2px solid;
  position: absolute;
  top: 35px;
  padding: 10px;
  margin:0;
}
.dropdown-content:hover, .training-btn:hover + .dropdown-content {
  display:block;
}
.training-btn:hover {
}
