<header>
<img  class='logo' src='assets/SPFLogoColor.png'>
<div class='title-container'>
<h1 class='title'>School of Personal Flight</h1>
<h3 class='title'>Powered Paragliding Training</h3>
</div>
<nav>
  <button class='training-btn'  >Training</button>
  <div id='dropdown-training' class="dropdown-training">
    <a routerLink="/classes">Classes</a>
    <a routerLink="/faq">FAQ's</a>
    <a routerLink='/weather'>Local Weather</a>
  </div>
  <button routerLink="/blog">Dave's Blog</button>
  <button routerLink="/contact">Contact</button>
  <button routerLink="/about">About</button>
  <button class='products-btn'>Products</button>
  <div id='dropdown-products' class="dropdown-products">
    <a routerLink="/lights">Strobe Lights</a>
    <a routerLink="/motors">Paramotors</a>
  </div>
</nav>
</header>
<router-outlet></router-outlet>
