header{
  /* background: linear-gradient(to bottom right, #70e1f5, #ffd194); */
  /* background-image: url(../assets/banner2.jpg); */
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  min-height:70px;
  background-position: center bottom;
  background-size: 100%;
}

.logo{
  width:15%;
  max-height: 79px;
  max-width: 123px;
}
h1{
  margin: 6px 10px 0 0px;
}
h3 {
  margin: 5px 20px;
}
.title-container{
  display: inline-block;
  position: absolute;
  top: 0;
}
.title{
  font-family: "Georgia";
    font-variant: small-caps;
    color: #e28327;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
nav {
  position: absolute;
  top: 25px;
  right: 10px;
  display: inline-block;
}
.dropdown-content{
  text-align: left;
  display:none;
  position: absolute;
  top: 35px;
  padding: 10px;
  margin:0;
}
.dropdown-content:hover, .training-btn:hover + .dropdown-content {
  display:block;
}
.training-btn:hover {
}
/* @media screen and (max-width: 480px) {

} */
