<img class='logo' src='assets/SPFLogoColor.png'>
<div class='title-container'>
<h1 class='title'>School of Personal Flight</h1>
<h3 class='title'>Powered Paragliding Training</h3>
</div>
<nav>
  <button class='training-btn'  routerLink="/">Training</button>
  <div id='dropdown-content' class="dropdown-content">
    <a routerLink="/">Classes</a>
    <a routerLink="/">FAQ's</a>
    <a href='www.weather.com'>Weather Tips</a>
  </div>
  <button routerLink="/">Dave's Blog</button>
  <button routerLink="/">Contact</button>
  <button routerLink="/">About</button>
  <button routerLink="/">Strobe Lights</button>
</nav>
<hr>
<app-welcome></app-welcome>
