<div class='page-content'>

<h2>Training Season 2018</h2>
<h3>Services Offered:</h3>

<div class='lighten-bg package'>
<label>PPG Lessons: $140/session </label>
<p>3-5 hours, depending on daylight available. May include towed- or tandem- instruction.</p>
<h4>courses cover:</h4>
<ul>
<li>Safety – how to keep your fingers and your life!</li>
<li>Ground School – taught in an air-conditioned conference room.</li>
<li>Ground Handling – 90% of the skill required to fly is ground handling.</li>
<li>Flight Training – from your first solo to your first few flights, have an experienced voice in your ear.</li>
<li>Motor Maintenance – preventative and restorative, with an emphasis on the preventative.</li>
<li>Aviation Law – FAR 103: How to have fun without messing it up for the rest of us.</li>
</ul>
<p>3 free lessons with motor or wing purchase</p>

<a href=''>Price List for paramotors</a>
</div>

<div class='lighten-bg package'>
<label>Tandem Flight: $140 </label>
<p>A 30 minute flight with an instructor. You will have an opportunity to pilot the wing. In-flight refreshments provided, depending on availability. Passenger subject to weight and fitness requirement– Passengers must: <span class='warn'>weigh 220 pounds or less</span> and be <span class='warn'>capable of running for a few seconds.</span></p>
</div>
<div class='lighten-bg package'>
<label>Schedule Classes 2018: $2500 </label><span>(please note: these are being phased out)</span>
<h4>May 19 – 27 (1 slot available)</h4>
<ul>
<li>9-day course covering Safety, Ground School, Flight Training, Motor Maintenance, and Aviation Law.</li>
<li>No prior experience or equipment is required. The School of Personal Flight will provide all the necessary equipment and education.</li>
<li>Discounts available if you already have a USPPA (PPG1) or USHPA (P1, P2, etc.) rating.</li>
<li>Taught to the USPPA Syllabus</li>
</ul>
<p>Reserve a spot in a class with a $600 deposit. Remainder of the training fee is due on first day of class. Read the policies before registering.
</div>
<!-- <div class='lighten-bg package'>
  <label>Register for a Scheduled Class</label>
  <p>TIP: If you are purchasing a complete motor package with your training, please sign up at least a month in advance of your selected class. New paramotors and paraglider wings can take up to 30 days or more to arrive.</p>
  <form>
    <legend>First Name
      <input type=text>
    </legend>
  </form> -->
<!-- </div> -->
</div>
