<h2 class='page-title'>This is Backpack Aviation</h2>
<button class='sched-button'>Schedule a Lesson</button>
<div class='intro-vid'>
  <iframe width="560" height="315"
  alt='school of personal flight video' src="https://www.youtube.com/embed/wal5MEhbTuA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class='content'>
<p>Just an hour and half drive from Boston, Massachusetts. The School of Personal Flight offers Powered Paragliding Equipment and Training in Southern Maine. Learn to fly a paramotor, a 45-pound aircraft that fits in your car!</p>
<p>The school trains on Air Conception Nitro 200 motors, and sells Air Conception, Miniplane and Scout brands, as well as a wide range of wings. The standard training package is a 9-day course for $2500, which includes use of school equipment, ground school, towing and more!</p>
</div>
