/* You can add global styles to this file, and also import other style files */
html {

  height: 100%;
}
body {
    height: 100%;
    font-family: Georgia;
    margin: 0;
    /* background: linear-gradient(to bottom right, #70e1f5, #ffd194); */
background-image: url(./assets/IMAG0698.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right top;
}
h1, h2 {
  font-variant: small-caps;
}
button {
  font-family: Georgia;
  font-weight: bold;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #f46b45, #f7b733);
  font-variant: small-caps;
  font-size: 10pt;
}
button:hover {
  background: linear-gradient(to top, #f46b45, #f7b733);
}
.page-title {
  padding: 0 20pt;
}
.lighten-bg{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
footer{
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  color: black;
  font-weight: 100;
  font-size: 10pt;
  margin-top: 35px;
}
.copyright {
  text-align: center;
  margin: 0;
}
.page-content{
  margin:auto;
  padding: 25px;
}
